@media screen and (max-width : 748px) {
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}  

body{
  background-color: aqua;


}
header, footer {
  background-color: pink;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline solid red;
  border-radius: 90px;
}

.aside1, .aside2 {
  background-color: skyblue;
  text-align: center;
  color: white;
  text-decoration: underline blue;
  font-size: 1.5rem;
}

.content {
  background-color: rgb(219, 14, 14);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  height: 180px;
  align-items: flex-end;
}

.column {
  background-color: rgb(31, 41, 178);
  color: white;
  font-weight: bold;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 140px;
  
 
}
}

/* /////////////////////////////////////////////// */


@media screen and (min-width: 748px) {
.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 15vh;
}  

body{
  background-color: aqua;
}
header, footer {
  background-color: pink;
  text-align: center;
  height: 10vh;
  font-size: 2rem;
  text-decoration: underline solid rgb(9, 99, 224);
  border-radius: 10px;
}
.line2{
  display: flex;
  gap:20;
  align-items: flex-start;
  justify-content: center;
}
.aside1{
  background-color: skyblue;
  text-align: center;
  color: white;
  text-decoration: underline blue;
  font-size: 1.5rem;
  width: 30vh;
  height: 40vh;
}

.content {
  background-color: rgb(219, 14, 14);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: 40vh;
  width: 70vh;

}

.column {
  background-color: rgb(31, 41, 178);
  color: white;
  font-weight: bold;
  height: 20vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 65vh;
  
 
}
}